@import './mixins.scss';

.pr-list {
    list-style-type: none;
}

.pr-url {
    margin: 1.5em;
    padding: 1em;
    font-size: 1rem;
    border-radius: 1em;
    text-align: center;
    background: #FFFF01;
    box-shadow: 5px 5px 10px #660391;

    @include respond-to("small") {
        font-size: 1.75rem;
    }
}

a {
    color: black;
}

.no-data {
    font-size: 3rem;
    margin: 1em;
    color: #660391;
}

.welcome-text {
    margin: 0 0.5em;
    text-align: center;
    color: #660391;
    max-width: 10em;
}